doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/wrapper.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato")
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

  body
    #box
      #header
        #titleContainer
          h1.title= title
        #subTitleContainer
          h2.subTitle= subTitle
      div(id="fb-root")
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=#{facebookAppId}";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      #nav
        ol
          a(href="/")
            li Home
          a(href="/about")
            li About
          if(typeof admin == 'undefined')
            - null
          else
            a(href="/admin/new")
              li Admin-New
            a(href="/admin/delete")
              li Admin-Delete
            a(href="/admin/logout")
              li Admin-Logout

      #content
        #wrapper
          block wrapper_content
        if(typeof posts == 'undefined')
          .widget
            a(href='/') Back to home
        else
          .widget
            p(style='font-size: 150%; font-weight:bold; border-bottom: 1px solid #b1b1b1;padding-bottom: 5px;margin-bottom: 4px;') Latest Posts
              br
              pre
              for post in posts
                table(id='post_table', style='padding-top:10px;border-bottom:1px solid #ddd')
                  tr
                    td
                      #left
                        label(style='font-size: 130%;') -&nbsp&nbsp
                    td
                      #right
                        a(href='/post/#{post._id}/#{post.title_sub}', style='font-size: 130%;')=  post.title
                  tr(style='height:10px;')

    #footerContainer
      p Using the Node2Blog template and running on a Node.js server