doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/header.css')
		link(rel='stylesheet', href='/stylesheets/wrapper.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		script(type='text/javascript', src='/javascripts/main.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

	body
		
		#header
			#title
				h1= title
			#subTitle
				label= subTitle
		#nav
			ol
				a(href="/")
					li Home
				a(href="/about")
					li About
				if(typeof admin == 'undefined')
					- null
				else
					a(href="/admin/new")
						li Admin-New
					a(href="/admin/delete")
						li Admin-Delete
					a(href="/admin/logout")
						li Admin-Logout


		#box
			#content
				#wrapper
					block wrapper_content
				if(typeof posts == 'undefined')
					#posts_list
						a(href='/') Back to home
				else
					#posts_list
						p(style='font-size: 150%; font-weight:bold; border-bottom: 1px solid #b1b1b1;padding-bottom: 5px;margin-bottom: 10px;') Latest Posts
							br
							pre
							for post in posts
								table(style='padding-top:5px;border-bottom:1px solid #ccc')
									tr
										td
											#left(style='float:left;width:10%')
												label(style='font-size: 120%;font-style: oblique;') -&nbsp&nbsp
										td
											#right(style='float:left;width: 90%')
												a(href='/post/#{post._id}/#{post.title_sub}', style='font-size: 130%;')=  post.title
									tr(style='height:10px;')
								

			#footer
				#footer_text
					p
						| Using the Node2Blog template and running on a Node.js server