doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/header.css')
		link(rel='stylesheet', href='/stylesheets/wrapper.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')
		link(rel='stylesheet', href='/stylesheets/nav.css')
		script(type='text/javascript', src='/javascripts/main.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')

	body
		div(id="fb-root")
		script
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=388558531205027";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		#header
			#title
				h1= title
			#subTitle
				label= subTitle
		#nav
			ol
				a(href="/")
					li Home
				a(href="/about")
					li About
				if(typeof admin == 'undefined')
					- null
				else
					a(href="/admin/new")
						li Admin-New
					a(href="/admin/delete")
						li Admin-Delete
					a(href="/admin/logout")
						li Admin-Logout


		#box
			#content
				#wrapper
					block wrapper_content
				if(typeof posts == 'undefined')
					.widget
						a(href='/') Back to home
				else
					.widget
						p(style='font-size: 150%; font-weight:bold; border-bottom: 1px solid #b1b1b1;padding-bottom: 5px;margin-bottom: 4px;') Latest Posts
							br
							pre
							for post in posts
								#recent(style='margin-bottom: 15px;')
									a(href='/post/#{post._id}/#{post.title_sub}', style='font-size: 130%;')=  post.title
								
							
				#footer
					#footer_text
						p
							| Using the Node2Blog template and running on a Node.js server