extends layout

block wrapper_content
  .container
    for posts in post
      .post(style='height:100%')

        h1= posts.title
        label= posts.date
        br
        br
        #tweetbtn(style='float:left')
          a(href="https://twitter.com/share", class="twitter-share-button", data-size="large") Tweet
          script
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
       
        .fb-like(data-send="true", style='float:right;margin-top:3px;', data-width="450", data-show-faces="true")
        br
        br
        iframe(id='#{posts._id}',frameborder="0",onLoad="autoResize('#{posts._id}');", width="100%", height="150px")
        label(value='#{posts.content}', name='#{posts._id}')
        script(type='text/javascript')

          c = stripScripts($('[name="#{posts._id}"]').attr('value'))
          var iframe = document.getElementById('#{posts._id}')
          var doc = iframe.document;
          if(iframe.contentDocument)
            doc = iframe.contentDocument; 
          else if(iframe.contentWindow)
            doc = iframe.contentWindow.document;
          doc.open()
          
          doc.writeln(c)
          doc.close()
      p(style='font-size:150%;border-bottom:1px solid #ccc;padding:10px;margin-bottom:10px;margin-top:30px;') Comments
      form(action='/post/#{posts._id}/#{posts.title_sub}', style='margin:10px;', method='post')
        if(comment == null)
          label No comments
        else
          for comments in comment
            .comments(style='border: 1px solid #ddd;border-radius:4px;padding:11px;background:#f9f9f9;')
              br
              p= comments.comment
              br
              label(style='font-size: 120%;') Said by: '#{comments.name}' on #{comments.date}
              br
              br
            br
        br
        br
        p Leave a comment:
        br
        input(type='text',name='name', placeholder='Name', id='nameComment')
        br
        br
        textarea(id='comment_form', name='comment', placeholder='Comment')br
        br
        input(type='submit', id='submitComment', value='Submit')
        