extends default-layout

block blog-content

  .post-full
    h2.post-title #{post.title}
    h6.post-date #{post.date.toDateString()}
    - var content = post.content
    .post-content!= content
    .post-comments
      - var commentStr = comments.length == 1 ? "Comment" : "Comments"
      h4 #{comments.length} #{commentStr}

      form#comment-form(method="post", action="/post/#{post._id}/#{post.friendly_link_title}")
        input.commenter-name-input(name="name", type="text", placeholder="name")
        textarea.comment-area(name="comment", placeholder="comment", rows="5")
        input.submit-comment-button(type="submit", value="Submit comment")

      for comment in comments
          .post-comment-container
            p.post-comment #{comment.comment}
            p.comment-signature #{comment.name} on #{comment.date.toDateString()} at #{comment.date.toLocaleTimeString()}

  #social-media-container
    .fb-like(data-href="#{blogSite}post/#{post.friendly_link_title}", data-width="100px", data-show-faces="false", data-send="false", data-layout="button_count")
    .tweetbtn
      a(href="https://twitter.com/share", class="twitter-share-button", data-size="medium") Tweet
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
